
.theme-picker {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* Style for the dark/light mode toggle button */
#theme {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

.toggle-mode-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}